*{
          font-family: 'Lato', sans-serif;
      }
      
      h1, h2, h3, .h1, .h2, .h3{
          font-family: 'Electrolize', sans-serif;
          
      }
      
      :root{
          --b : rgb(38, 38, 38);
          --w : rgb(247, 247, 247);
          --purple : rgb(247, 5, 223);
         
      }
      
      body, html{
          background-color: var(--b);
          overflow-x: hidden;
      }
      
      .text-purple{
          color: var(--purple);
      }
      
      .bg-purple{
          background-color: var(--purple);
      }
      
      .border-purple{
          border: 3px solid var(--purple);
      }
      
      .text-b{
          color: var(--b);
      }
      
      .bg-b{
          background-color: var(--b);
      }
      
      .text-w{
          color: var(--w);
      }
      
      .bg-w{
          background-color: var(--w);
      }
      
      /* Navbar */
      #navbar{
          transition: 0.4s;
          height: 80px;
      }
      
      .nav-link{
          font-family: 'Electrolize', sans-serif;
      
      }
      
      .text-b-link{
          color: var(--b);
      }
      
      .text-b-link:hover{
          color: var(--w);
      }
      
      .text-w-link{
          color: var(--w);
      }
      
      .text-w-link:hover{
          color: var(--b);
      }
      
      .logo{
          width: 50px;
      }
      
      .bor-bot-y{
          border-bottom: 2px solid var(--purple);
      }
      
      .fa-forumbee{
          cursor: pointer;
      }
      
      
      /* Header */
      
      .min-vh-90{
          min-height: 90vh;
      }
      
      .titolo{
          letter-spacing: 20px;
          /* text-shadow: 0 0 5px var(--w); */
      }
      
      .btn-custom{
          color: var(--w);
          border: 2px solid var(--purple);
          border-radius: 50px;
          padding: 20px 30px;
          transition: 0.4s;
      }
      
      .btn-custom:hover{
          background-color: var(--purple);
          transform: scale(1.1);
      }
      
      .img-animated{
          width: 80%;
          /* border: 2px solid var(--purple); */
          animation-name: rotation;
          animation-duration: 8s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
      }
      
      @keyframes rotation {
      
          0% {transform: rotate(0deg)}
          100% {transform: rotate(360deg)}
      
      }
      
      @media screen and (max-width: 576px){
          .img-animated{
              width: 70%;
          }
      }
      
      
      /* Social section */
      
      .hover-card{
          color: var(--w);
          transition: 0.4s;
      }
      
      .hover-card:hover{
          color: var(--b);
          background-color: var(--purple);
          transform: scale(1.2);
      }
      
      #incrementNumber, #incrementNumber2, #incrementNumber3{
          color: var(--purple);
          font-size: 50px;
          font-weight: 900;
      }
      
   /* Recensioni */

.card-custom{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--purple);
}

.fs-30{
    font-size: 30px;
}

.swiper {
  
    height: 300px;
  }
/* Footer */



.btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--w);
    border: 2px solid var(--b);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--b);
}

/* Annunci */

.shadow-w{
    box-shadow: 2px 2px 5px var(--w);
}

/* Footer */

/* .footer{
    min-height: 150px;
} */



/* Annunci */

.accordion-button:not(.collapsed){
  background-color: var(--w);
  color: var(--purple);
}

.card-ads-custom{
  width: 30%;
  box-shadow: 2px 2px 5px var(--purple);
  border-radius: 20px;
  padding: 15px;
  color: var(--purple);
  transition: 0.4s;
  margin-top: 20px
  
}

.card-ads-custom:hover{
  background-color: var(--purple);
  color: var(--w);
}

@media screen and (max-width: 576px){
  .card-ads-custom{
      width: 50%;
  }
}

.fa-heart{
  transition: 0.4s;
}

.scale{
  transform: scale(1.5);
}

#priceInput{
  width: 70%;
}

.accordion{
  /* position:fixed; */
 
  width: 70%;
}

/* About Us */

.circle{
    height: 300px;
    width: 300px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.opener{
    height: 50px;
    width: 50px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    background-color: var(--b);
}

.moved{
    height: 50px;
    width: 50px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    background-position: center;
    background-size: 100%;
    position: absolute;
    transition: 1s;
    background-repeat: no-repeat;
}
.btncustom:hover{
    background-color: var(--purple);
    transform: scale(1.1);
    


}